.card {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 6px hsl(0, 0%, 0.5%);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}


.card .cardImg{
  max-width: 70%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card .card-title{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  color: hsl(0, 0%, 30%);
}
.card .card-text{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: hsl(0, 0%, 50%);
}

/* external
.button {
  padding: 10px 20px;
  color: red;
  border: none;
  border-radius: 10px ;
  background-color: antiquewhite;
  cursor: pointer;
}
*/


.student {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  padding: 10px;
  border: 1px solid hsl(0, 0%, 40%, 0.9);

}

.student p{
  margin: 0;
}

.list-category{
  font-size: 2.5em;
  font-weight: bold;
  color: rgb(48, 80, 184);
  margin-bottom: 10px;
  text-align: center;
  border: 3px solid;
  border-radius: 5px;
  background-color: bisque;
}
.list-items li{
  font-size: 1.5em;
  list-style: none;
  color: black;
  text-align: center;
  margin: 0;

}
.list-items li:hover{
  color: hsl(0, 0%, 50%);
  cursor: pointer;
}


.counterContainer{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.counterContainer .countDisplay{
  font-size: 5rem;
  margin-top: 0;
  margin-bottom: 50px;
}
.counterButton{
  width: 150px;
  height: 50px;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0px 5px;
  border: none;
  border-radius: 5px ;
  background-color: hsl(180, 100%, 50%);
  color: brown;
}
.counterButton:hover{
  background-color: hsl(180, 100%, 40%);

}

.ColorPickerContainer{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.ColorPickerContainer h1{
  margin: 50px;
  font-size: 3rem;

}
.ColorPickerContainer .colorDisplay{
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid hsl(0, 1%, 13%);
  border-radius: 25px;
  margin-bottom: 25px;
  transition: 0.25s ease ;
}
.ColorPickerContainer p{
  color: hsl(0, 0%, 20%);
  font-size: 2rem;
  text-align: center;
}
.ColorPickerContainer label{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.ColorPickerContainer input[type="color"]{
  width: 75px;
  height: 50px;
  padding: 5px;
  border-radius: 10px;
  border: 3px solid hsl(0, 0%, 20%);
}


.box{
  border: 3px solid;
  padding: 25px;
}